<h2>Product Filter</h2>

<p><a href="@Url.Action("GreenProducts", "Product")">Green Products</a></p>
<p><a href="@Url.Action("LargeProducts", "Product")">Large Products</a></p>
<p><a href="@Url.Action("LargeBlueProducts", "Product")">Large Blue Products</a></p>
